<% self.controller.action_name=='update' ? action_name = 'update' : action_name = 'create' %>
<%= form_for(@record,
             local: true,
             url: {action: action_name},
             html: {class: 'form-horizontal form-bordered',
                    novalidate: 'novalidate',
                    multipart: true}) do |form| %>

  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :domain_id, value: params[:domain_id] %>
    <h5>DOMAIN:
      <span style="color: darkblue">
        <strong><%= @domain.name %></strong>
      </span>
    </h5>
  <br>

  <div class="form-group">
    <%= form.label :record_type %>
    <%= form.select :record_type,
                    Record.record_type_attribute_names,
                    { include_blank: true },
                    { class: 'form-control' }
    %>
  </div>

  <div class="form-group">
    <%= form.label :host %>
    <%= form.text_field :host, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>TTL</label>
    <%= form.number_field :ttl, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: 'btn btn-success' %>
    <%= link_to 'Cancel', domain_records_path(@domain.id), class: 'btn btn-danger' %>
  </div>
<% end %>
