<div class="alert alert-primary" role="alert">
  <strong><%= notice %></strong>
</div>

<h1>Records</h1>
<h5>DOMAIN:
  <span style="color: darkblue">
        <strong><%= @domain.name %></strong>
      </span>
</h5>
<br>

<table id="recordsTable">
  <thead>
    <tr>
      <th>Type</th>
      <th>Host</th>
      <th>TTL</th>
      <th>Content</th>
      <th>Domain</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= I18n.t("activerecord.attributes.record.record_types.#{record.record_type}") %></td>
        <td><%= record.host %></td>
        <td><%= record.ttl %></td>
        <td><%= record.content %></td>
        <td><%= record.domain.name %></td>
        <td><%= link_to 'Edit', edit_domain_record_path(record.domain_id, record.id), class: 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Destroy', domain_record_path(record.domain_id, record.id),
                                   method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="form-group">
  <%= link_to 'New Record', new_domain_record_path, class: 'btn btn-primary' %>
  <%= link_to 'Back To Domains', domains_path , class: 'btn btn-info' %>
</div>



<script>
    $(document).ready( function () {
        $('#recordsTable').DataTable();
    } );
</script>