<div class="alert alert-primary" role="alert">
  <strong><%= notice %></strong>
</div>

<h1>All Domains</h1>

<table id="domainsTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Main Domain</th>
      <th>Total Records</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.id %></td>
        <td><%= domain.name %></td>
        <td><%= @domains.find(domain.main_domain).name + " [ID: #{domain.main_domain}]" if domain.main_domain %></td>
        <td><%= domain.records.count %></td>
        <td><%= link_to 'Show Records', domain_records_path(domain), class: 'btn btn-xs btn-info' %></td>
        <td><%= link_to 'Edit Domain', edit_domain_path(domain), class: 'btn btn-xs btn-warning' %></td>
        <td>
          <%= link_to 'Destroy Domain', domain, method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
        <td><%= link_to 'Add Record', new_domain_record_path(domain), class: 'btn btn-xs btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain', new_domain_path, class: 'btn btn-primary' %>
<br><br>
<form action="/domains/uplist"
      enctype="multipart/form-data"
      method="post">
  <p>
    <strong>Or upload a list of domains:</strong><br>
    <input id="upload_domains" type="file" name="upload_domains" class="form-control">
  </p>
  <input type="reset" value="Reset" class="btn btn-xs btn-secondary">
  <input type="submit" value="Send File" class="btn btn-xs btn-success">
</form>


<script>
    $(document).ready( function () {
        $('#domainsTable').DataTable();
    } );
</script>