<!DOCTYPE html>
<html>
  <head>
    <title>MyDNS - A tiny rails app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="padding: 1rem 5rem 1rem 5rem">
      <%= yield %>
    </div>
  </body>
</html>
